.peli1{
    background:none;
    width: 210px;
    height: 290px;

    padding: 0px;

    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 150px;
    margin-right: 0px;
}
.peli2{
    background:none;
    width: 210px;
    height: 290px;

    padding: 0px;

    margin-top: -290px;
    margin-bottom: 0px;
    margin-left: 380px;
    margin-right: 0px;
}
/* +230 */
.peli3{
    background:none;
    width: 210px;
    height: 290px;

    padding: 0px;

    margin-top: -290px;
    margin-bottom: 0px;
    margin-left: 610px;
    margin-right: 0px;
}
.peli4{
    background:none;
    width: 210px;
    height: 290px;

    padding: 0px;

    margin-top: -290px;
    margin-bottom: 0px;
    margin-left: 850px;
    margin-right: 0px;
}
.peli5{
    background:none;
    width: 210px;
    height: 290px;

    padding: 0px;

    margin-top: -290px;
    margin-bottom: 0px;
    margin-left: 1080px;
    margin-right: 0px;
}
.peli6{
    background:none;
    width: 210px;
    height: 290px;

    padding: 0px;

    margin-top: -290px;
    margin-bottom: 0px;
    margin-left: 1310px;
    margin-right: 0px;
}

.peli7{
    background:none;
    width: 210px;
    height: 290px;

    padding: 0px;

    margin-top: -290px;
    margin-bottom: 0px;
    margin-left: 1520px;
    margin-right: 0px;
}
